body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	width: 100%;

	&.notOverflow {
		overflow: hidden;
		padding-right: 21px;
	}
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.container {
	max-width: 970px;
	margin: 0 auto;
	padding: 0 15px;
}
.btn {
	display: inline-block;
	color: $white;
	font-size: 16px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 1px solid #ffffff;
	border-radius: 4px;
	padding: 10px 30px;
	transition: 500ms;
	& + & {
		margin-left: 20px;
	}
	&:hover {
		background: #ffffff38;
	}
}
.common_section {
	text-align: center;
	padding: 80px 0px;
}
@media (max-width: 767px) {
	.common_section {
		padding: 40px 0px;
	}
}
.section__title {
	margin-bottom: 62px;
}
.title {
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: $title;
	margin-bottom: 20px;
}
.sub__title {
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: $subtitle;
}
.cards__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card__title {
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 7px;
	text-transform: uppercase;
	color: $title;
	margin-bottom: 14px;
}
.card__text {
	color: $text;
}
.hide {
	display: none;
}

// -----HEADER--------
.header {
	padding: 18px 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $white;
	z-index: 10;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.company {
	font-size: 25px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: $blue;
}
.nav__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	ul li {
		display: inline-block;
	}
	li + li {
		margin-left: 40px;
	}
	li a {
		font-size: 15px;
		color: $title;
		transition: 300ms;
		&:hover {
			color: $blue;
		}
		&:active {
			color: $darkBlue;
		}
	}
}

// -----------WELCOME-----------
.main {
	margin-top: 70px;
}
.welcome {
	min-height: 600px;
	padding: 195px 0;
	background: $dark;
	color: $white;
	background-image: url("../img/img1.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.welcome__title {
	font-size: 59px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}
.welcome__links {
	margin-top: 100px;
	text-align: center;
}

.btn__sesondary {
	background: $blue;
	border: none;
	padding: 11px 30px;
	&:hover {
		background: $darkBlue;
	}
}
// ------------ABOUT-----------
.about {
	& .card {
		margin: 8px 5px;
		padding: 35px 16px 25px;
		width: 300px;
		border: 1px solid #dcebf7;
		border-radius: 5px;
		& img {
			width: 94px;
			height: 94px;
			object-fit: contain;
			margin-bottom: 20px;
		}
	}
}
// ------------SERVICES-----------
.services {
	background: $dark;
	color: $white;
	& .title {
		color: $white;
	}
	& .sub__title {
		color: #e8e8e8;
	}
	& .card__title {
		color: $white;
	}
	& .card__text {
		padding: 0px 25px;
		color: $white;
	}
	& .card {
		max-width: 400px;
		margin: 8px 5px;
	}

	& .card img {
		min-width: 360px;
		margin-bottom: 20px;
	}
	& .btn {
		margin-top: 17px;
	}
}
@media (max-width: 767px) {
	.services .section__title {
		margin-bottom: 10px;
	}
	.services .card {
		margin-top: 50px;
	}
}

// ------TABS SECTION--------
.tab_section {
	& .card__text {
		padding: 0px 110px;
		line-height: 2;
	}
}

.tabs {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.tabs__nav {
	margin-bottom: 30px;
}
.tab__btn {
	margin: 5px 8px;
	padding: 0 30px;
	background: $tabBtn;
	border-radius: 4px;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $white;

	&.active {
		background: $darkBlue;
	}
}

.tabs__item {
	animation: fade 2s;
	& img {
		margin-bottom: 15px;
	}
}
@keyframes fade {
	from {
		opacity: 0.3;
	}
	to {
		opacity: 1;
	}
}
@media (max-width: 767px) {
	.tab_section {
		& .card__text {
			padding: 0px 20px;
		}
	}
}

/*------------- pop_up button------ */

.popup_bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.459);
	opacity: 0;
	pointer-events: none;
	transition: 500ms all;
	z-index: 30;
	overflow-x: auto;

	&.activePop {
		opacity: 1;
		pointer-events: all;
		transition: 500ms all;
	}
}

.popup {
	margin: 0 auto;
	width: 508px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: $white;
	padding: 30px;
	z-index: 30;
	transition: 500ms all;

	&.activePop {
		transform: translate(-50%, -50%) scale(1);
		transition: 500ms all;
	}
	& label {
		width: 100%;
		margin-bottom: 10px;
		display: flex;
		flex-direction: column-reverse;
	}
}
@media (max-width: 860px) {
	.popup {
		padding: 0px 30px 10px;
	}
}
@media (max-width: 400px) {
	.popup {
		width: 80%;
	}
}
@media (max-height: 649px) {
	.popup {
		top: 80%;
	}
}

.close_popup {
	font-size: 20px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 10px;
	right: 10px;
	cursor: pointer;

	&:hover {
		color: $blue;
	}
}

.popup_name {
	margin: 20px 0px;
	font-size: 22px;
	text-align: center;
	letter-spacing: 0.03em;
	color: $title;
}
.popup_img {
	box-sizing: border-box;
	position: absolute;
	width: 20px;
	margin-left: 10px;
	padding-bottom: 11px;
	fill: $dark;
	transition: 200ms;
}

.popup_input {
	color: $link;
	margin-top: 5px;
	height: 40px;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	padding-left: 35px;
	transition: 300ms;
	&:hover {
		border: 1px solid $blue;
	}
	&:focus {
		border: 1px solid $blue;
	}
	&:focus + .label_text {
		color: $blue;
	}
	&:focus ~ .popup_img {
		fill: $blue;
	}
}

.label_text {
	color: $text;
}

.massage {
	width: 100%;
	resize: none;
	height: 80px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	box-sizing: border-box;
	border-radius: 4px;
	padding: 10px;
	outline: 0;
	font-size: 16px;
	letter-spacing: 0.01em;
	color: $text;
	&:focus {
		border: 1px solid $blue;
	}
	&:hover {
		border: 1px solid $blue;
	}
	&:focus + .label_text {
		color: $blue;
	}
	&::placeholder {
		color: $link;
	}
}

.pop_up_agree {
	padding-top: 15px;
	margin: 0 auto;
	display: flex;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: $title;
	& input {
		width: 15px;
		height: 15px;
		margin-top: 3px;
		margin-right: 8px;
		background-color: $blue;
	}
	& a {
		color: $blue;
		text-decoration: underline;
	}
}

.submit {
	width: 200px;
	height: 50px;
	border-radius: 4px;
	margin: 20px auto 0px;
	cursor: pointer;
	display: flex;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	color: $white;
	border: 2px solid $blue;
	background: $blue;
	transition: 300ms;
	&:hover {
		background: $darkBlue;
	}
}

// -------------FOOTER--------

.footer__descr {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	& > * {
		width: 30%;
	}
	& h5 {
		font-size: 18px;
		line-height: 20px;
		letter-spacing: 4px;
		text-transform: uppercase;
		color: $title;
		margin-bottom: 25px;
	}
	& p {
		color: $text;
	}
	& a {
		font-size: 13px;
		color: $link;
		transition: 300ms;
	}
	& a:hover {
		color: $blue;
	}
	& li + li {
		margin-top: 6px;
	}
	& li {
		position: relative;
		height: 30px;
	}
	& li::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 1px;
		right: 0;
		bottom: 0;
		background-color: #d5d5e0;
	}
}

.footer__social {
	& img {
		width: 20px;
		height: 20px;
		object-fit: contain;
		margin-right: 10px;
	}
	& li::before {
		width: calc(100% - 34px);
	}
}
.footer_copy {
	margin-top: 35px;
	padding: 40px 0px;
	width: 100%;
	background: $footer;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	color: #9e9e9e;
}

@media (max-width: 550px) {
	.footer__descr {
		margin-top: 0;
		justify-content: center;
		& > * {
			width: 80%;
			margin-top: 20px;
		}
	}
}
