//---- colors----
// fonts color
$title: #676770;
$subtitle: #8e8e9c;
$text: #6a859c;
$link: #668cad;
$white: #ffffff;
$blue: #69b9ff;
$darkBlue: #2e80b6;
$tabBtn: #92a0ad;

// bg color
$dark: #192024;
$footer: #383838;
// -----------------

// -----font-size------
